<h2 mat-dialog-title>
  <mat-icon *ngIf="data.icon">{{ data.icon }}</mat-icon>
  {{ data.title }}
</h2>
<mat-dialog-content>
  <p>{{ data.content }}</p>
  <textarea tabindex="1" *ngIf="data.type === 'add-note'" [(ngModel)]="data.note" cdkFocusInitial matInput></textarea>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button tabindex="3" *ngIf="data.showCancelButton" mat-button mat-dialog-close>Cancel</button>
  <button tabindex="2" mat-flat-button
    [mat-dialog-close]="data.type === 'add-note' ? data.note : true"
    [color]="data.actionButtonColor">{{ data.actionButtonText }}</button>
</mat-dialog-actions>
