table {
    width: 100%;
    min-width: 800px;
}

table th,
table .project-row td {
    text-align: center;
}

table th {
    background-color: #aaa;
    color: #fff;
    font-size: 1em;
}

tr.project-row.stripe {
    background-color: #eee;
}

tr.collapsible-row:not(.open) {
    display: none;
}

.expand-col {
    width: 40px;
}

.row-expand-button {
    background-color: transparent;
}
